@model App.Controllers.ResponseViewModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>ResponseViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premio)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Premio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>

    <h4>Ganhador 1</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ganhador1.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ganhador1.Nome)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ganhador1.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ganhador1.Telefone)
        </dd>
    </dl>

    <h4>Ganhador 2</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ganhador2.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ganhador2.Nome)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ganhador2.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ganhador2.Telefone)
        </dd>
    </dl>

    <h4>Ganhador 3</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ganhador3.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ganhador3.Nome)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ganhador3.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ganhador3.Telefone)
        </dd>
    </dl>

</div>
